.mainContainer{
    margin: 40px;
    margin-left: 30px;
 }
 
.btm button{
    font-size: large;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.btm button:hover{
background-color: rgb(24, 247, 121);
border: none;
transition: all;
transform: scaleZ(1.1);
transition-duration: 1s;

}
.Inputdiv input{
 width: 60%;
outline: 0;
box-shadow: 10px;
border:2px solid rgb(3, 1, 10);
}
.date input{
    width: 60%;
outline: 0;
box-shadow: 10px;
border:2px solid rgb(3, 1, 10);
}